# 004 - Typ

\- Co za typ.

\- Co za typiara.


### Spis treści:

#### Level 1
1. Co to jest "typ" ?
2. type()
3. Główne 4 typy w Pythonie
4. None - brak wartości
5. Jak zmienić typ danej?
6. isinstance()

# 1. Co to jest "typ" ?

Pytanie o typ zmiennej to pytanie o rodzaj informacji (danych) z jakim mamy doczynienia.


Np. są dane liczbowe jak 1, 2, 3. Możemy je np. odejmować

Są też dane tekstowe. Np. "abc", "xD" albo "Jakieś krótkie zdanie." czy też cyfra ale jako tekst, więc w cudzysłowiach: "1". 

Z danymi tekstowymi i liczbowymi możemy robić wiele rzeczy ale nie wszystkie są takie same.

Możemy pomnożyć 3 z 5. Ale nie pomnożymy "a" z "b". Chociaż możemy np. wypisać ich kombinacje).

In [9]:
zmienna_liczba = 1  # czyli 1 jako liczba, integer.
zmienna_tekst = "1" # czyli 1 jako tekst, string, ciąg znaków.

# 2. type()

Funkcja wbudowana "type()". 
Druga, po "print()" jaką poznajesz.

Sprawdzisz nią typy zmiennych.

In [10]:
print( zmienna_liczba)
print( type( zmienna_liczba))
print( zmienna_tekst)
print( type( zmienna_tekst))

1
<class 'int'>
1
<class 'str'>

Przy okazji - jak pamiętasz, to co znajduje się wewnątrz funkcji, to argument.

Są funkcje które przyjmują 0, 1, 2 albo dużo więcej, aż do nieskończoności argumentów. Omowimy to w przyszłości przy okazji funkcji kilka klocków później.

### O funkcjach będziemy jeszcze sporo mówić za kilka klocków.

#### Ale rzuć okiem na to:

In [6]:
print()                # <---- to jest funkcja.
zmienna_liczba = 10    # <---- wartość 10 przypisana do zmiennej.
print( zmienna_liczba) # <---- funkcja print przyjmuje 
                       #       jako argument "zmienna_liczba".

10

1. Funkcje poznasz po tym, że są zakończone nawiasami nazwa_funkcji()

In [ ]:
print()

2. Funkcje mogą przyjmować jeden lub więcej argumentów które oddzielone są od siebie wtedy przecinkami:

In [ ]:
print( zmienna_liczba, zmienna_tekst)

Możesz użyć tej wiedzy, aby sprawdzić typ zmiennej w tej samej linii.

In [ ]:
print( zmienna_liczba, typ(zmienna_liczba))
print( zmienna_liczba, typ(zmienna_tekst))

# 3. Główne 4 typy w Pythonie

#### String (str) - ciąg znaków:

In [13]:
print("Stringami są:", 'a', '1','ab','',' ',' a a aaasgdsg', 'True', 'xD')
print('Wszystkie wartości które wpakujesz pomiędzy dwa apostrofy albo cudzysłowie, to stringi.')

Stringami są: a 1 ab     a a aaasgdsg True xD
Wszystkie wartości które wpakujesz pomiędzy dwa apostrofy albo cudzysłowie, to stringi.

#### Integer (int) - liczba

In [ ]:

# Integer (int) - liczba, np:
print("Liczbami są:", -5, 1, 0, 123123)
print("Liczbami są pełne liczby pisane bez spacji. Bez apostrofow, cudzysłowiów, te są zarezerwowane tylko dla stringów.")

#### Są jeszcze 2 typy danch uznawane za głowne.

#### Float (float) - liczby mające coś po kropce:

In [15]:
print("Float są:", -5.1, 1.1, 0.3333, 123123.0000001)
print('Float to liczby z tym, że zawsze mają coś po kropce.')

Float są: -5.1 1.1 0.3333 123123.0000001
Float to liczby z tym, że zawsze mają coś po kropce.

#### Boolean (bool) - Prawda/Fałsz:

In [16]:
print('Bool są:', True, False, '(i tyle).')
print('Bool to wartość prawda/fałsz czemu odpowiada nieraz 0/1.')

Bool są: True False (i tyle).
Bool to wartość prawda/fałsz czemu odpowiada nieraz 0/1.

# 4. None - brak wartości

Wyjątkowy typ wartości który można przypisać zmiennej to None, jej brak.

In [36]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

Stosuje się None gdy np. dla porządku trzeba utworzyć zmienną, której wartość nie jest zdefiniowana, więc zamiast zakrzywiać dane, wyznaczamy None.

Omówiliśmy 4 główne typy danych: 
- str   - tekst
- int   - liczby (całkowite)
- float - liczby (zmiennoprzecinkowe)
- bool  - prawda / fałsz

Mogli byśmy dodać jeszcze trzeci typ liczbowy, complex. Jest to jednak rzadko używany typ danych.

Te typy były "główne". Są też inne typy w Pythonie. 
O tym jednak będziemy mówić więcej w przyszłości. Narazie nie martw się tym. Nic a nic. 

Jednak jak chcesz rzucić okiem, są to:
- funkcja, 
- klasa,
- kontenery: list, tuple, range, set, frozenset, dict,
- ponad to są typy binarne:	bytes, bytearray, memoryview,
- Dodatkowo istnieją inne typy z bibliotek jak np array z biblioteki numpy który jest działającym nieco inaczej niż listy, aczkolwiek bardzo podobnym ciągiem ciągiem cyfr.

### To mamy 4 główne typy danych. Co możemy z nimi robić?

#### String (ciąg znaków) - można na przykład dodawać.

Mają też wiele własnych metod jak np. .lower() który zamienia duże litery w całym ciągu znaków na małe.

In [ ]:
x = 'A'
y = 'B'
wynik_dodania_stringow = x + y
print(wynik_dodania_stringow)
print(wynik_dodania_stringow.lower())

Ze stringami można robić dziesiątki rzeczy. O tym w dalszych klockach :)

#### Integer (liczba): 

operacje matematyczne (ale matmy nie będzie wiele chyba, że dla chętnych i potrzebujących):

In [38]:
x = 100
y = 10
wynik_dodawania = x + y
wynik_odejmowania = x - y
wynik_mnozenia = x * y
wynik_dzielenia = x / y
wynik_potegowania = x ** y
print('wynik_dodawania', wynik_dodawania, type( wynik_dodawania))
print('wynik_odejmowania', wynik_odejmowania, type( wynik_odejmowania))
print('wynik_mnozenia', wynik_mnozenia, type( wynik_mnozenia))
print('wynik_dzielenia', wynik_dzielenia, type( wynik_dzielenia))
print('wynik_potegowania', wynik_potegowania, type( wynik_potegowania))

wynik_dodawania 110 <class 'int'>
wynik_odejmowania 90 <class 'int'>
wynik_mnozenia 1000 <class 'int'>
wynik_dzielenia 10.0 <class 'float'>
wynik_dzielenia 100000000000000000000 <class 'int'>

#### Zmiana wartości przez "+=", "-=":

In [39]:
x = 10
print(x)
x += 1
print(x)
x = x + 1
print(x) 
x -= 10
print(x)
x = x - 1
print(x)

10
11
12
2
1

#### Float:

Czyli liczba z elementem po kropce (np. 1.01, 3.03))

Tu wszystko działa tak samo jak na integerach :))))

#### Bool (Prawda/Fałsz)

O tym typie danych powiemy więcej przy okazji warunków, a potem jeszcze przy okazji list. Zamień w poniższym kodzie True na False i None i zobacz różnicę.

In [40]:
x = True
if x:
    print('warunek jest prawdziwy')

# 5. Jak zmienić typ zmiennej?

Obowiązuje zdrowy roządek:
- String możesz zamienić na integer albo float tylko, jeżeli reprezentuje wartość liczbową np. "1" albo "1.4". Nie zmienisz "xD" na int, robiąc int('xD'). To będzie bład.
- Integer możesz zmienić na: str, float, albo int
- Float możesz zmienić na: str, int.

In [53]:
# Zmienna x (nasze dane) o typie int (integer).
x = 1
print(x, type(x))

1 <class 'int'>

In [54]:
# Zmień typ danych na string.
x = str(x)
print(x, type(x))

1 <class 'str'>

In [44]:
# Zmień typ danych na float.
x = float(x)
print(x, type(x))

1.0 <class 'float'>

In [55]:
# Zmień typ danych na bool.
x = bool(x)
print(x, type(x))

True <class 'bool'>

In [46]:
# Zmień typ danych na integer.
x = int(x)
print(x, type(x))

1 <class 'int'>

# 6. isinstance() - warunek który się spełnia tylko, jeżeli wartość jest określonego typu np. tylko liczbą.

użyjemy funkcji isinstance(), bardzo podobnej do type(). 

To co widzisz poniżej to if, pytanie warunkowe. Nie przejmuj się tym narazie. Omówimy je szerzej za kilka klocków.

#### Przypomnij sobie przykłady każdego z typu danych.

In [56]:
# Przypomnienie typów:
bool_s = [True, False]
integer_s = [-30, -5, 0,234, 1001244124124]
float_s = [-11.1, 0.1, 2133.00000001]
string_s = ['a', 'aaaa', ' a a  a', '1', 'True', '1.0', '#@$@98%']

#### I w każdej komórce pozmieniaj wartość x wybierając różne typy danych i patrz co się dzieje.

In [47]:
x = 'a' # pozmieniaj typ.
if isinstance(x, str):
    print('x to str', x, type(x))

x to str a <class 'str'>

In [48]:
x = 'a' # pozmieniaj typ.
if isinstance(x, int):
    print('x to int', x, type(x))

In [49]:
x = 'a' # pozmieniaj typ.
if isinstance(x, float):
    print('x to float', x, type(x))

In [50]:
x = 'a' # pozmieniaj typ.
if isinstance(x, bool):
    print('x to bool', x, type(x))

#### Zadanie

1. Napisz funkcję print która wydrukuje dane 4 róznych typów.
2. Dodaj ze sobą 2 x float, 2 x string, 2 x integer.
3. Dodaj ze sobą float i integer.
4. Dodaj ze sobą str i integer i zobacz co się stanie.
5. Bład? Tak, nie można dodawać stringów i integerów.
6. Dodaj ze sobą str i int (ale zamieniając jego typ na str używając str() i zobacz co się stanie.