# Biblioteka time i datetime

Daty, czas.

[Dokumentacja time](https://docs.python.org/3/library/time.html)

[Dokumentacja datetime](https://docs.python.org/3/library/datetime.html)


Level 1
1. 

Level 2:
1.

## Level 1

In [ ]:
import time

#### 1. Zatrzymaj działanie programu  na 10 sekund - `time.sleep(10)`

Odpal poniższą komórkę. Po każdej iteracji program wstrzyma się na 2 sekundy. Ta metoda przydaje się np. gdy łączymy się z innymi serwerami, albo chcemy aby ktoś odczekał zanim ponownie wykona akcję (np. logowania czy wysłania wiadomości).

In [ ]:
for i in range(8):
    print(i)
    time.sleep(2)

#### 2. Czas teraz

#### A. Jako tekst - `time.asctime()`

Data i czas przyjmują wartość typu tekstowego o formacie: `Sun Jun 20 23:21:05 1993`.

In [135]:
t1 = time.asctime()
t1 # string

'Thu Apr 14 18:39:10 2022'

#### B. Jako obiekt z czasem lokalnym - `time.localtime()`

Godzina czasu Polskiego lub strefy czasowej Twojego serwera/komputera).

In [144]:
t2 = time.localtime()
t2

time.struct_time(tm_year=2022, tm_mon=4, tm_mday=14, tm_hour=18, tm_min=42, tm_sec=25, tm_wday=3, tm_yday=104, tm_isdst=1)

#### C. Jako obiekt z czasem globalnym - `time.gmtime()`

Godzina jest o 2h wcześniejsza niż w Polsce.

In [191]:
t3 = time.gmtime()
t3

time.struct_time(tm_year=2022, tm_mon=4, tm_mday=14, tm_hour=17, tm_min=6, tm_sec=14, tm_wday=3, tm_yday=104, tm_isdst=0)

#### Typ obiektu utworzonego w B i C jest taki sam.

In [138]:
type(t2)

time.struct_time

In [139]:
type(t2) == type(t3)

True

z obiektu time możesz wyciągnąć i wyświetlić między innymi:

In [127]:
for t in [t2, t3]:
    print(t.tm_year, t.tm_mon, t.tm_mday, t.tm_hour, t.tm_min, )

2022 4 14 18 22
2022 4 14 16 23

jeżeli chcesz poznać więcej metod, zobacz:

In [124]:
#t3.__dir__()

#### D. Czas jako liczba sekund - `time.time() ` lub nanosekund - `time.time_ns() `

In [74]:
time.time() # czas teraz w sekundach

1649952430.0242095

In [77]:
time.time_ns() # czas teraz, nanosekundy

1649952483517560512

#### 3. Zamień string z datą w obiekt `time` wedle formatu.

In [188]:
data1 = "30 Nov 01"
format_daty = "%d %b %y"

time.strptime(data1, format_daty)

time.struct_time(tm_year=2001, tm_mon=11, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=334, tm_isdst=-1)

#### 4. Zamień obiekt czasu w stringa z datą sformatowaną tak jak chcesz.

In [171]:
format_czasu = "%a, %d %b %Y %H:%M:%S +0000"
obiekt_czasu1 = time.gmtime()
time.strftime(format_czasu, obiekt_czasu1)

'Thu, 14 Apr 2022 16:54:54 +0000'

In [172]:
format_czasu = "%a, %d %b %Y %H:%M:%S +0000"
obiekt_czasu2 = time.localtime()
time.strftime(format_czasu, obiekt_czasu2)

'Thu, 14 Apr 2022 18:54:54 +0000'

#### 5. Zamień obiekt czasu w stringa z datą sformatowaną tak jak chcesz.

%a - Locale’s abbreviated weekday name.
%A - Locale’s full weekday name.
%b - Locale’s abbreviated month name.
%B - Locale’s full month name.
%c - Locale’s appropriate date and time representation.
%d - Day of the month as a decimal number.
%H - Hour (24-hour clock) as a decimal number.
%I - Hour (12-hour clock) as a decimal number.
%j - Day of the year as a decimal number.
%m - Month as a decimal number.
%M - Minute as a decimal number.
%p - Locale’s equivalent of either AM or PM.
%S - Second as a decimal number.
%U - Week number of the year (Sunday as the first day of the week) as a decimal number. All days in a new year preceding the first Sunday are considered to be in week 0. (3)
%w - Weekday as a decimal number
%W - Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.
%x - Locale’s appropriate date representation.
%X - Locale’s appropriate time representation.
%y - Year without century as a decimal number.
%Y - Year with century as a decimal number.
%Z - Time zone name (no characters if no time zone exists). Deprecated.
%% - A literal '%' character

In [192]:
import datetime

Ważne obiekty zajmujące się danymi czasowymi to:
- date - 
- time -
- timezone, tzinfo
- datetime, 
- timedelta - różnica czasu między 2 datami

In [194]:
#### stwórz datę o formacie i treści jaką chcesz - datetime

In [195]:
#### stwórz datę o formacie i treści chcesz - str

In [196]:
#### zamien date w str w datetime

In [ ]:
date.replace(day=26)

In [197]:
#### zamien date w datetime w str

In [198]:
#### zmien 1 czesc daty np. godzine w datetime

In [199]:
#### oblicz różnicę pomiędzy czasem 1 a czasem 2

In [ ]:
#### porównaj czasy

In [ ]:
from datetime import timedelta
d = timedelta(microseconds=-1)

In [ ]:
t1 = t2 + t3
t1 = t2 * i or t1 = i * t2
t1 = t2 - t3

In [ ]:
date.today()

In [ ]:
date.fromtimestamp(timestamp)

In [ ]:
from datetime import date
>>> date.fromisoformat('2019-12-04')

In [ ]:
date.year date.month date.day

In [ ]:
date2 = date1 + timedelta

In [ ]:
date2 = date1 - timedelta

In [ ]:
date.strftime(format)

In [ ]:
datetime.today()

In [ ]:
datetime.now(tz=None)

In [ ]:
datetime.utcnow()

In [ ]:
datetime.fromtimestamp(timestamp, tz=None)

In [ ]:
datetime.utcfromtimestamp(timestamp)

In [ ]:
# YYYY-MM-DD[*HH[:MM[:SS[.fff[fff]]]][+HH:MM[:SS[.ffffff]]]]
from datetime import datetime
datetime.fromisoformat('2011-11-04')
datetime.fromisoformat('2011-11-04T00:05:23')
datetime.fromisoformat('2011-11-04 00:05:23.283')
datetime.fromisoformat('2011-11-04 00:05:23.283+00:00')
datetime.fromisoformat('2011-11-04T00:05:23+04:00')

In [ ]:
datetime.strptime(date_string, format)
datetime(*(time.strptime(date_string, format)[0:6]))

In [ ]:
datetime.year datetime.year datetime.year datetime.year

In [25]:
from datetime import datetime
datetime.fromisoformat('2011-11-04')
datetime.date()
datetime.time()
datetime.replace(year=2002)
datetime.astimezone(tz=None)

TypeError: descriptor 'date' of 'datetime.datetime' object needs an argument

In [32]:
import datetime
datetime.tzname()

AttributeError: module 'datetime' has no attribute 'tzname'

In [33]:
datetime.isoformat(sep='T', timespec='auto')

AttributeError: module 'datetime' has no attribute 'timestamp'

In [ ]:
datetime.now(timezone.utc)

In [ ]:
datetime.now()

In [ ]:
d = date(2005, 7, 14)
t = time(12, 30)
datetime.combine(d, t)

In [36]:
datetime.datetime(2006, 6, 14, 13, 0)

datetime.datetime(2006, 6, 14, 13, 0)

In [37]:
time.hour  time.minute time.second

SyntaxError: invalid syntax (<ipython-input-37-3aa84141ceb9>, line 1)

In [ ]:
 time.fromisoformat(time_string)

In [ ]:
HH[:MM[:SS[.fff[fff]]]][+HH:MM[:SS[.ffffff]]]

In [ ]:
from datetime import time
>>> time.fromisoformat('04:23:01')
datetime.time(4, 23, 1)
>>> time.fromisoformat('04:23:01.000384')
datetime.time(4, 23, 1, 384)
>>> time.fromisoformat('04:23:01+04:00')

In [ ]:
time.replace

In [ ]:
time.isoformat